<hr>
&copy; 2019. <br />
Disclaimer: The information in this page might be innacurate.
<hr>

<ul>
    <li>
        Solar System. (n.d.). In Wikipedia. Retrieved July 19, 2020, from https://en.wikipedia.org/wiki/Solar_System
    </li>
    <li>
        Merucury (Planet) (n.d.). In Wikipedia. Retrieved July 19, 2020, from https://en.wikipedia.org/wiki/Mercury_(planet)
    </li>
    <li>
        Venus (n.d.). In Wikipedia. Retrieved July 19, 2020, from https://en.wikipedia.org/wiki/Venus
    </li>
    <li>
        Pluto (n.d.). In Wikipedia. Retrieved July 19, 2020, from https://en.wikipedia.org/wiki/Pluto
    </li>
</ul>
</body>

</html>