<%- include('partials/header.ejs') %>
<div class="jumbotron jumbotron-fluid">
    <h1>Welcome to Earth!</h1>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <img src="/img/earth.gif" alt="The Solar System" />
    </div>
    <div class="col-md-4">
        <p> Earth is our home planet, the third rock from the sun.  Which also happens to be the name of a popular sitcom
            on tv a long time ago.  But not as long ago that dinosours roamed our planet.  There have been reports 
            that the planet is getting too hot with climate change.  But in my personal opinion, I think the Earth just caught
            the COVID-19 and is trying to recover.
        </p>
        <p class="font-weight-bolder"> In any case, the earth is a fabulous place and I hope some day it gets better!</p>
    </div>
</div>


<%- include('partials/footer.ejs') %>