<%- include('partials/header.ejs') %>
<div class="jumbotron jumbotron-fluid">
    <h1>Welcome to Mercury!</h1>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <img src="/img/mercury.gif" alt="The Solar System" />
    </div>
    <div class="col-md-4">
        <p> "Like Venus, Mercury orbits the Sun within Earth's orbit as an inferior planet, and its apparent distance
            from the Sun as viewed from Earth never exceeds 28°. This proximity to the Sun means the planet can only be
            seen near the western horizon after sunset or eastern horizon before sunrise, usually in twilight. At this
            time, it may appear as a bright star-like object, but is often far more difficult to observe than Venus. The
            planet telescopically displays the complete range of phases, similar to Venus and the Moon, as it moves in
            its inner orbit relative to Earth, which recurs over its synodic period of approximately 116 days." ("Merucury (Planet) ", n.d.)
        </p>
        <p class="font-weight-bolder"> Mercury is not just some liquid metal!
        </p>
    </div>
</div>

<%- include('partials/footer.ejs') %>